<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{book_name}} - words search</title>
    {% else %}
    <title>Book words search</title>
    {% endif %}
</head>
<body>
    Request example - <a href='/request_sentences?words=["sword", "legolas"]&examples=5'>flask-host-example.herokuapp.com/request_sentences?words=["sword", "legolas"]&examples=5</a>
    <form action="/sentences" method="post">
        <label for="words">Введите слово или слова (через символ ;), которые вы хотите найти в книге властелин колец</label>
        <br>
        <input id="words" name="words" type="text" value="sword; legolas">
        <br>
        <label for="examples">Введите число примеров предложений</label>
        <br>
        <input id="examples" name="examples" type="number" value="5">
        <br>
        <input type="submit" value="Отправить">
  </form>
</body>
</html>